Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/static/css/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/static/fonts/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/static/images/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/static/js/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/static/html/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/ariane-core/net.echinopsii.ariane.community.core.*.plan
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/ariane-core/net.echinopsii.ariane.community.core.*.properties
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/ariane-core/net.echinopsii.ariane.community.*.plan
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/ariane-core/net.echinopsii.ariane.community.*.properties
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/ariane-core/net.echinopsii.ariane.community.core.MappingRimManagedService.properties.tpl
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/ariane-core/net.echinopsii.ariane.community.core.InjectorMessagingManagedService.properties.tpl
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/ariane-core/net.echinopsii.ariane.community.core.mapping_0.8.1.SNAPSHOT.plan.tpl
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/ariane-plugins/net.echinopsii.ariane.community.plugin.*.plan
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/ariane-plugins/net.echinopsii.ariane.community.plugin.*.properties
Virgo/virgo-tomcat-server-3.6.2.RELEASE/serviceability/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/work/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/bin/setenv.sh
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/neo4j/data/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/neo4j/graph/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/usr/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/neo4j/conf/neo4j-server.properties
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/neo4j/conf/neo4j.properties
*/**/target
*/**/**/target
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/core/injector/infinispan.injector.components.cache.xml
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/core/injector/infinispan.injector.gears.cache.xml
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/core/injector/ariane.community.core.injector.shared.components.cache.dat
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/core/injector/ariane.community.core.injector.shared.gears.cache.dat
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/plugins/rabbitmq/ariane.community.plugin.rabbitmq.components.cache.dat
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/plugins/rabbitmq/ariane.community.plugin.rabbitmq.gears.cache.dat
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/core/injector/remote/components/ariane.community.plugin.docker.components.cache.dat
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/core/injector/remote/components/ariane.community.plugin.procos.components.cache.dat
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/core/injector/remote/gears/ariane.community.plugin.docker.gears.cache.dat
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/core/injector/remote/gears/ariane.community.plugin.procos.gears.cache.dat
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/plugins/rabbitmq/infinispan.components.cache.xml
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/plugins/rabbitmq/infinispan.gears.cache.xml
Virgo/virgo-tomcat-server-3.6.2.RELEASE/configuration/Catalina/localhost/context.xml.default
Karaf/apache-karaf-4.0.3/data/tmp/*
Karaf/apache-karaf-4.0.3/data/cache/
Karaf/apache-karaf-4.0.3/data/dbms/
Karaf/apache-karaf-4.0.3/data/log/
Karaf/apache-karaf-4.0.3/data/port
Karaf/apache-karaf-4.0.3/data/security/
Karaf/apache-karaf-4.0.3/deploy/*
Karaf/apache-karaf-4.0.3/etc/host.key
Karaf/apache-karaf-4.0.3/etc/net.echinopsii.demo.*.cfg
Karaf/apache-karaf-4.0.3/instances/
Karaf/apache-karaf-4.0.3/lock
Karaf/apache-karaf-4.0.3/neo4j-home/
Karaf/apache-karaf-4.0.3/ariane/neo4j/conf/ssl/
Karaf/apache-karaf-4.0.3/ariane/neo4j/data/
Karaf/apache-karaf-4.0.3/etc/net.echinopsii.ariane.*.cfg
