Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/static/css/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/static/fonts/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/static/images/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/static/js/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/ariane-core/net.echinopsii.ariane.community.core.*.plan
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/ariane-core/net.echinopsii.ariane.community.core.*.properties
Virgo/virgo-tomcat-server-3.6.2.RELEASE/serviceability/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/work/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/neo4j/data/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/neo4j/graph/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/usr/
