Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/static/css/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/static/fonts/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/static/images/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/static/js/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/ariane-core/net.echinopsii.ariane.community.core.*.plan
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/ariane-core/net.echinopsii.ariane.community.core.*.properties
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/ariane-plugins/net.echinopsii.ariane.community.plugin.*.plan
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/ariane-plugins/net.echinopsii.ariane.community.plugin.*.properties
Virgo/virgo-tomcat-server-3.6.2.RELEASE/serviceability/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/work/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/neo4j/data/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/neo4j/graph/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/repository/usr/
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/neo4j/conf/neo4j-server.properties
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/neo4j/conf/neo4j.properties
*/**/target
*/**/**/target
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/core/injector/infinispan.injector.components.cache.xml
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/core/injector/infinispan.injector.gears.cache.xml
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/core/injector/ariane.community.core.injector.shared.components.cache.dat
Virgo/virgo-tomcat-server-3.6.2.RELEASE/ariane/cache/core/injector/ariane.community.core.injector.shared.gears.cache.dat
Virgo/virgo-tomcat-server-3.6.2.RELEASE/configuration/Catalina/localhost/context.xml.default
Chef/.chef/*.pem
Chef/.chef/encrypted_data_bag_secret
Chef/.chef
Virgo/virgo-kernel-3.6.3.RELEASE/configuration/hostkey.ser
Virgo/virgo-kernel-3.6.3.RELEASE/serviceability/
Virgo/virgo-kernel-3.6.3.RELEASE/work/
